.app-container.light{color:#213547;background-color:#fff;min-height:100vh}.app-container.dark{color:#fff;background-color:#242424;min-height:100vh}.panel,.card{border:1px solid #ccc;border-radius:8px;margin:20px 0;padding:20px}
